.modal-sign-in-title {
    font-size: 25px;
}

.modal-sign-in-close {
    font-size: 25px;
}

.modal-sign-in-alert {
    display: none;
    color: yellow;
}

@media only screen and (max-width: 992px) {
    .modal-sign-in-title {
        font-size: 50px;
    }

    .modal-sign-in-close {
        font-size: 50px;
    }

    .modal-sign-in-label {
        font-size: 40px;
    }

    .modal-sign-in-input {
        font-size: 40px;
    }

    .modal-sign-in-btn {
        font-size: 40px;
    }
}